.apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 1rem 0;
    color: white;
    background: rgb(212,193,236);
    background: linear-gradient(0deg, rgba(212,193,236,1) 22%, rgba(115,108,237,1) 100%);
    h2{
        font-size: clamp(1rem, 8vw, 7rem);
        margin: 1rem 0;
    }
    p{
        font-size: clamp(0.8rem, 2vw, 2rem);
    }
}
